:root {
    --color-red: #ec1840;
    --color-white: #f1ecee;
    --color-blue: #2d2d6d;
    --speed-normal: 0.5s;
    --speed-fast: 0.3s;
    --square-size: 14px;
    --square-size-hover: 15px
}

body {
    margin: 0;
    margin-top: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    background-color: var(--color-white);
    font-family: 'Rubik', sans-serif;
}

button {
    position: relative;
    width: 180px;
    height: 60px;
    margin: 20px;
    line-height: 60px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-blue);
    transition: var(--speed-normal);
    border: 1px solid var(--color-red);
}

.flex {
    display: flex;
}

.board {
    width: 1420px;
    cursor: none;
    line-height: 60%
}

button:hover {
    border: 1px solid transparent;
    background: var(--color-red) url(https://i.postimg.cc/wBXGXbWN/pixel.png);
    transition-delay: 0.8s;
    background-size: 180px;
    animation: animate var(--speed-fast) steps(8) forwards;
}

.loading {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.rightMenu {
    background-color: #2d2d6d;
    color: #f1ecee;
    padding-left: 20px;
    height: 100vh;
    width: 480px;
    overflow: hidden;

}

.case {
    display: inline-block;
    width: var(--square-size);
    height: var(--square-size);
}

.case:hover {
    background-color: #ec1840;
    width: var(--square-size-hover);
    height: var(--square-size-hover);
    ;
}

@keyframes animate {
    0% {
        background-position-y: 0;
    }

    100% {
        background-position-y: -480px;
    }
}

a {
    margin-top: 35px;
    color: var(--color-white);
}

a:focus,
a:hover {
    border-bottom: 1px solid;
    margin-bottom: 35px;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}


/* Restrict width of color picker */
.eight-bit-color-picker {
    max-width: 34px;
}

/* Selected color box styling */
.eight-bit-color-picker .ebcp-selection,
.ebcp-color-preview {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    margin-bottom: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

/* Color selection box styling */
.ebcp-selector {

    /* Prevent highlight on drag */
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    /* Positioning and styling */
    position: absolute;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: 300px;
    height: 164px;
    background-color: #444;
    overflow: hidden;

    /* Fade in/out rules */
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

/* Class that is added to visible selectionUIs */
.ebcp-shown-selector {
    opacity: 1;
    visibility: visible;
}

/* Have color palette and preview values display inline */
.ebcp-selector .ebcp-palette,
.ebcp-selector .ebcp-preview-values {
    display: inline-block;
}

/* Define size of palette */
.ebcp-palette {
    max-width: 164px;
}

/* Fix positioning of preview values */
.ebcp-selector .ebcp-preview-values {
    position: relative;
    bottom: 50px;
    margin-left: 20px;
}

/* Use inline-block for color picker grid */
.ebcp-palette-row {
    display: inline-block;
}

/* Squares in color picker */
.ebcp-palette-row>div {
    width: 10px;
    height: 10px;
    cursor: crosshair;
}

/* Fix alignment of color preview box */
.ebcp-color-preview {
    position: relative;
    top: -20px;
}

/* Make text inputs and color preview display inline */
.ebcp-text-container,
.ebcp-color-preview {
    display: inline-block;
}

/* Set width of text inputs so they are consistent */
.ebcp-text-container {
    width: 80px;
}

/* Styles for color value text */
.ebcp-text {
    display: block;
    font-family: Menlo, monospace;
    font-weight: 300;
    font-size: 16px;
    width: 70px;
}