:root {
    --color-red: #ec1840;
    --color-white: #f1ecee;
    --color-blue: #2d2d6d;
    --speed-normal: 0.5s;
    --speed-fast: 0.3s;
    --square-size: 14px;
}

body {
    margin: 0;
    margin-top: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    background-color: var(--color-white);
    font-family: 'Rubik', sans-serif;
    background: rgb(40, 40, 110);
    background: linear-gradient(180deg, rgba(40, 40, 110, 1) 0%, rgba(105, 66, 93, 1) 44%, rgba(232, 81, 34, 1) 100%);
    height: 100vh
}

button {
    position: relative;
    width: 180px;
    height: 60px;
    margin: 20px;
    line-height: 60px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-blue);
    transition: var(--speed-normal);
    border: 1px solid var(--color-red);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    margin: auto;
    width: 1680px;
    height: 700px;
    cursor: none;
    line-height: 60%
}

.colorPicker {
    width: 105px;
    height: 55px;
    margin-bottom: 20px;
}

.colorPicker:hover {
    cursor: pointer;
}

button:hover {
    border: 1px solid transparent;
    background: var(--color-red) url(https://i.postimg.cc/wBXGXbWN/pixel.png);
    transition-delay: 0.8s;
    background-size: 180px;
    animation: animate var(--speed-fast) steps(8) forwards;
}

.loading {
    display: flex;
    justify-content: center;
    height: 80vh;
}

.topMenu {
    height: 100px;
    color: #f1ecee;
    width: 100%;
    overflow: hidden;

}

.case {
    display: inline-block;
    width: var(--square-size);
    height: var(--square-size);
}

.case:hover {
    background-color: #ec1840;
}

@keyframes animate {
    0% {
        background-position-y: 0;
    }

    100% {
        background-position-y: -480px;
    }
}

a {
    color: var(--color-white);
}

a:focus,
a:hover {
    border-bottom: 1px solid;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}